# Virtual environments
.venv/
hacklens_env/
venv/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE/System files
.vscode/
.idea/
.DS_Store
.env
